<div class="raw-container">
  <h1 class="fade-in"><%= @raw_lead %></h1>

  <h2 class="solution fade-in2">
    <%=@year_arr[0]%> + <%=@year_arr[1]%> = <%=@first_section%>
  </h2>
  <h2 class="solution fade-in3">
     <%=@year_arr[2]%> + <%=@year_arr[3]%> = <%=@second_section %>
  </h2>
  <h2 class="solution fade-in4">
     <%=@first_section%> / <%=@second_section%> = <%=@solution %>
  </h2>
  <h3 class="fade-in5">- <%= @raw_message %></h3>
</div>
